
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  gap: 30px;
  align-items: center;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  max-width: 1536px;
  gap: 20px;
  padding: 10px;
}

.grid-container {
  max-width: 1536px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-grow: 4;
  gap: 40px;
  padding-bottom: 50px;
}